.App {
  text-align: center;
}

body {
  background-image: url("./images/1627992176457 (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.myCard {
  width: 800px;
  /*background-color: rgba(255,255,255,0.8);*/
  background: rgba(255,255,255,0.8);
}